<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
</head>
    <body>
        <form action="/login" method="post"></form>
        <div>
            <!-- label -> etiqueta semántica correcta para def form -->
            <label for="nombre_apellido">Nombre y apellido</label>
            <input class="control" type="text" id="nombre_apellido" name="nombre" minlength="10">
            <input type="text" id="nombre_apellido" name="apellido">
            <!-- name importante para obtener los datos por GET o POST -->
        </div> 
        
    
    
        <!-- <label for="usuario">Usuario</label>
    <input type="text" id="usuario" name="usuario"> 
    name importante para obtener los datos por GET o POST -->

    <!-- <label for="email">Ingrese Email</label>
    <input type="email"id="email" name="email">
    <label for="password">Ingrese Password</label>
    <input type="password" id ="password" name="password">
    <button></button>
    
    <input type="checkbox">
    
    <textarea name="" id="" cols="30" rows="10"></textarea>
    
    <select name="colores" id="">
        <option value="red">Rojo</option>
        <option value="green">Verde</option>
    </select>
    
    <input type="submit" value="Enviar"> --> 

    

    
</form>        
    </body>
    