*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body{
    background-color: #f1f1f1;
}
.formulario > div{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;    
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.login-container{
    display: flex;
    width: 65%;
    height: auto;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,.5);
}
.register{
    padding: 40px;
    position: relative;
}
.register h2{
    color: #797979;
    margin-bottom: 30px;
}
.register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}
/* eliminar el recuadro del input con su psuedo clase */
.register input:active,
.register input:focus{
    outline: none;
}
.register .register__label{
    width: 50%;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.register .submit{
    width: auto;
    padding: 10px;
    background-color: #39b54a;
    color: #fff;
    font-size: 12px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,.5);
    /* al pasar el mouse se transf en la mano */
    cursor: pointer;
}

.wrap{
    width: 90%;
    max-width: 1000px;
    font-family: "Roboto";
}

/* -- Tablets y Web -- */
@media screen and (min-width: 1024px){
    .container{
        /* Limitar contenido del Header */
        width: 1010px;
        margin: auto;
    }
}




/* ejemplo de pseudo selector con input */
/* input{
    border: 2px solid currentColor;
}
input::invalid{
    border: 2px dashed red;
}
input::invalid-function{
    background-image: linear-gradient(pink, lightgreen);
} */