/*
box_sizing: content-box -> default, aplica ancho/alto que definamos en el elemento
box-sizing: border-box -> tomará en cuante ancho, alto, padding y borde dejando solo afuera el margen
https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
*/
/* Ctrl+f -> buscar/find */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;;
}
h3{
    font-size: 24px;
    /* font-weight: bold; */
    /* padding: 10px; */
}
p{    
    font-size: 12px;
    font-weight: bold;
    /* border: 1px solid #000;  */
}
/* ---HEADER--- */
div.top-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 5%;    
}
header div.top-header p{
    font-size: 12px;    
    width: auto;
    text-align: center; 
    margin-top: 10px;
    /* border: 1px solid #000; */
}
header{
    background-color: #eac926;    
    /* border: 1px solid #000;  */
}
header div.logo{    
    width: 40%;
    text-align: auto;
}
header div.log{
    padding: 10px;
}
header .form{  
    width: 70%;  
    display: flex;
    align-items: center;      
    flex-grow: 0.5;
    padding: 5px;
    font-size: 12px; 
}
header .form .input{
    width: 100%;
    background-color: #FFF;
    outline: none;
    color: #666; 
    padding: 2.5px;   
    border-radius: 6%;
    margin: 0 5px;
    /* border: 1px solid #000; */        
}
header .form .submit{
    width: 10%;
    text-align: center;
    background-color: #FFF;   
    color: #666;   
    padding: 2.5px;
    border-radius: 30%;
    width: 10%;
    /* border: 1px solid #000; */     
}
header .navbar{
    display: none;
    /* ocultar barra nac con display (no representa el bloque y el espacio colapsado) */
    /* visibility oculta con su propiedad hidden el bloque, pero sigue representando el espacio */
    font-size: 12px;
    margin-left: 20px;
    padding-bottom: 10px;
    /* padding: 15px; */
    /* border: 1px solid #000; */
}
header ul{
    display:flex;
}
header ul li{ 
    font-weight: bold;   
    list-style-type: none;
    padding: 0 5px;
}
header ul li a{
    text-decoration: none;
    color: #000;    
}
div.menu-burguer{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    text-align: center; 
    /* border: 1px solid #000; */
} 
div.menu-burguer i{
    background-color: #0044AA; 
    border-radius: 2vw;
    color: #FFF; 
    font-size: 15px; 
    height: 40%;
    margin: 10px 0px 10px 0px; 
    padding: 8px;
    width: 8vw;
    /* border: 1px solid #000; */
}
div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}
.price{
    font-size: 18px;
    width: 30%;    
}
.discount{
    color: #39b54a;
    /* font-size: 16px;
    font-weight: normal;  */
    width 70%;
    /* padding: 15px; */
}
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
h3,
.description{
    color: #666;
}    
.description{
    display: none;
    margin-top: 20px;
    /* font-weight: 900;     */
}
article .description {
    visibility: hidden;
}
article:hover .description{
    visibility: visible;
}
/* --- SECTION BANNER --- */
section.banner img{
    width: 100%;
}
/* --- MAIN --- */
main{
    width: 90vw;
    margin: auto;
    background-color: #ebebeb; 
    /* ]margin: 30px;  */
    /* margin-bottom: 10px; */
    /* padding: 10px;   */
}
main section article{
    background-color: #FFF;
    margin: 10px 10px;    
}
article div.main-article{
    display: flex;
    flex-wrap: wrap; 
    align-items: baseline;
    position: relative;
    width: 100%;
    padding: 15px; 
    border-top: 1px solid #ebebeb;
    /* border: 2px solid #000;  */    
}
main section article img{
    width: 100%;    
}
main section article i,     
.discount{    
    /* border: 1px solid #39b54a; */
    color: #39b54a;      
}
main section article i{
    display: block; 
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;  
    right: 10px;
    top: -15px;       
}
main article i{
    transition: 1.5s;    
}
main article i:hover{
    transform: rotateZ(-90deg) ;
}
main section h3{
    margin: 20px 0px;
}
main section article p{
    /* display: flex; */
    /* flex-wrap: wrap;     */
    /* border: solid 2px blue; */
    /* width: 30%; */
}
.products{
    width: 90vw;
    /* background-color: lightgrey; */
    /* border: dotted 3px black; */
    /* text-align: center; */
}
footer article{
    text-align: center;
    padding: 20px 20px
}
footer article i{
    font-size: 3em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer article:last-child{
    background-color: #666;
    font-size: 40px;
    font-weight: bold;

}
/* ---@media querys---*/
@media (min-width: 768px){
    header .top-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
        padding: 5%;
    }
    header div.logo{    
        width: 35%;        
    }    
    header .form{  
        width: 30%;  
        display: flex;
        align-items: center;      
        flex-grow: 0.5;
        padding: 5px;
        font-size: 12px; 
    }
    header .form .input{
        width: 90%;
        background-color: #FFF;
        outline: none;
        color: #666; 
        padding: 2.5px;   
        border-radius: 6%;
        margin: 0 5px;
        /* border: 1px solid #000; */        
    }
    header .form .submit{
        width: 10%;
        text-align: center;
        background-color: #FFF;   
        color: #666;   
        padding: 2.5px;        
        /* border: 1px solid #000; */     
    }
    header .top-header p{    
        width: 35%; 
        font-size: 16px;              
    }

    header .navbar{
        display: flex;
        justify-content: space-between;        
    }
    div.menu-burguer{
        display: none;
    }
    main section div.products{
        display: flex;        
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items: flex-start; 
    }       
    main section div.products article{
        width: 22%;
    } 
    main section article .description{
        display: block;
        /* display: none; */
    }
    main section article{
        box-shadow: 15px 0px 10px rgb(50, 50,50); 
    }        
    main section div.products article{
        width: 45%; 
    }
    .price,
    .discount{
        width: 50%;
    }   
}
@media (min-width: 768px){
    /* main section article{
     border: solid 1px #ebebeb; 
     margin-bottom: 15px;         
} */
       
    /* header nav{
        display: block;
       visibility: visible; 
    } */
} 
/* Obs: falta definir break-point para resolucion +1024
1- form input & submit
2- Mejorar menu burguer
3- Colocar en la misma línea leyenda -> Compra ...
4- Nav con diaplay flex y ordenar en una sola línea 
*/

/* 
--flex--
en el elemento padre definir
display: flex;
flexwrap: wrap;
justify-content: space-evenly; // flex-start, flex-end, center, ...
*/
/*
https://dev.to/lupitacode/como-ordenar-los-atributos-de-los-elementos-html-3cb0
https://dev.to/lupitacode/como-ordenar-las-propiedades-en-css-jle
 */